# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
*.log
logs/

# IDE-specific files
.vscode/
.idea/
*.swp

# Byte-compiled files
*.pyc

# OS-specific files
.DS_Store
Thumbs.db

# Static and temporary files
staticfiles/
media/
*.sqlite3

# Test coverage reports
htmlcov/
.coverage
*.cover
*.coverage.*

# Build files
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
*.old
*.orig